@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

header{
	width: 100%;
}

nav{
	margin:20px auto;
	width: 90%;
	max-width: 1000px;
}

nav ul{
	list-style:none;
}

nav > ul {
	display:table;
	width:100%;
	overflow: hidden;
	background:#000000;
	position: relative;
}

nav > ul li{
	display: table-cell;
}

nav > ul li a{
	color: #FFFFFF;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul > li a span{
	background: #174459;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	position: absolute;
	top:-55px;
	
}
nav > ul > li a span .icon{
	display: block;
	line-height: 60px
}

nav > ul> li a:hover > span{
	top:0;
	-moz-transition: all .3s ease;
}
/*Colores para el menu*/
nav ul li a .dos {
	background:#E30D0D;
}

nav ul li a .tres {
	background:#16981C;
}

nav ul li a  i{
	color: aliceblue;
}

