{% extends 'base/base.html' %} {% load staticfiles %} {%block body%} {%block extrahead%}
<!--Se llama el estilo del tema darkly en bootstrap-->
<link href="{% static 'css/darkly.min.css' %}" rel="stylesheet" type="text/css"/>
{%endblock%}
<div class="jumbotron">
    <legend>
        Modificacion de Simulacion Anterior
    </legend>
    <div class="form-group row align-items-center">
        <div class="col-sm-5">
            <legend>
                Simulacion Anterior
            </legend>
            <table class="table table-hover row-md-3">
                <tr class="table-info">
                    <th scope="row">
                        Datos
                    </th>
                    <td>
                        Valor Entrada
                    </td>
                    <td>
                        Resultados
                    </td>
                </tr>
                <tr>
                    <th class="row-md-5">
                        <p>
                            Area piston
                        </p>
                    </th>
                    <td>
                        80 metros
                    </td>
                    <td>
                        80 metros cuadrados
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-7">
            <legend>
                Simulacion Nueva
            </legend>
            <table class="table table-hover row-md-3">
                <tr class="table-success">
                    <th scope="row">
                        Datos
                    </th>
                    <td>
                        Modificacion
                    </td>
                    <td>
                        Nuevo Valor
                    </td>
                    <td>
                        Resultados
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>
                            Area piston
                        </p>
                    </th>
                    <td>
                        <input id="rango" max="200" min="0" onchange="modificar(this.value)" step="5" type="range" value="0"/>
                    </td>
                    <td>
                        <span id="valor">
                        </span>
                    </td>
                    <th>
                        50 m
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>
<!--Script que tiene la funcion para obetener lo valores de la modificacion"-->
<script src="{% static 'js/funcionModificacion.js' %}" type="text/javascript">
</script>
{%endblock%}
