{% extends 'base/base.html' %} {% load staticfiles %} {%block body%} {%block extrahead%}
<!--Se llama el estilo del tema darkly en bootstrap-->
<link href="{% static 'css/darkly.min.css' %}" rel="stylesheet" type="text/css" /> {%endblock%}
<div class="jumbotron">
    <form method="POST">
        {% csrf_token %}
        <div class="col-sm-12">
            <legend>
                Modificacion de Simulacion Anterior
            </legend>
            <table class="table table-hover row-md-3">
                <tr class="table-success">
                    <th scope="row">
                        Datos
                    </th>
                    <td>
                        Modificacion
                    </td>

                    <td>
                        Unidades
                    </td>

                </tr>

                <tr>
                    <th>
                        <p>
                            Elija Simulacion
                        </p>
                    </th>
                    <td>
                        {{form.usuario}}
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>
                            Velocidad Ascensor
                        </p>
                    </th>
                    <td>
                        {{form.velocidad_Cabina}}
                    </td>
                    <td>
                        <p>
                            Metros/Segundos
                        </p>
                    </td>

                </tr>
                <tr>
                    <th>
                        <p>
                            Cantidad de Cables
                        </p>
                    </th>
                    <td>
                        {{form.numero_Cables}}
                    </td>
                    <td>
                        <p>
                            Unidades
                        </p>
                    </td>
                </tr>

                <tr>
                    <th>
                        <p>
                            Cantidad de Pisos
                        </p>
                    </th>
                    <td>
                        {{form.recorrido_Cabina}}
                    </td>
                    <td>
                        <p>
                            Unidades
                        </p>
                    </td>

                </tr>
                <tr>
                    <th>
                        <p>
                            Carga Nominal
                        </p>
                    </th>
                    <td>
                        {{form.carga_Nominal}}
                    </td>
                    <td>
                        <p>
                            Kilogramos
                        </p>
                    </td>
                </tr>
            </table>


            <br>
            <div class="form-group row align-items-center">
                <div class="col-sm-6">
                    <div align="center" class="col-12">
                        <button type="submit" class="btn btn-info btn-lg btn-responsive" id="btnsimular" name="btnsimular" />
                        <span class="glyphicon glyphicon"></span> Modificar Simulacion</button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div align="center" class="col-12">
                        <button type="submit" class="btn btn-info btn-lg btn-responsive" id="btnmodificar" name="btnmodificar" />
                        <span class="glyphicon glyphicon"></span> Guardar simulacion </button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



<div class="jumbotron">
    <form method="post">
        {% csrf_token %}

        <div class="form-group row align-items-center">

            <!--TABLA 1-->

            <div class="col-sm-12">
                <legend>
                    Simulacion Nueva (Entradas)
                </legend>
                <table class="table table-hover row-md-3">
                    <tr class="table-info">
                        <th scope="row">
                            Datos
                        </th>
                        <td>
                            Valor Entrada
                        </td>
                        <td>
                            Unidades
                        </td>
                    </tr>
                    <tr>
                        <th class="row-md-5">
                            <p>
                                Cantidad de Cables
                            </p>
                        </th>
                        <td>
                            {{numero_Cables}}
                        </td>
                        <td>
                            <p>
                                Unidades
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="row-md-5">
                            <p>
                                Carga Nominal
                            </p>
                        </th>
                        <td>

                            {{carga_Nominal}}
                        </td>
                        <td>
                            <p>
                                Kilogramos
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="row-md-5">
                            <p>
                                Cantidad de pisos
                            </p>
                        </th>
                        <td>
                            {{recorrido_Cabina}}
                        </td>
                        <td>
                            <p>
                                Metros
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Recorrido Superior del Piston
                            </p>
                        </th>
                        <td>
                            {{Recorrido_Superior_Piston}}
                        </td>
                        <td>
                            <p>
                                Metros
                            </p>
                        </td>

                    </tr>
                    <tr>
                        <th>
                            <p>
                                Cantidad de Pistones
                            </p>
                        </th>
                        <td>
                            {{cantidad_Pistones}}
                        </td>
                        <td>
                            <p>
                                Unidades
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Cantidad de Cilindros
                            </p>
                        </th>
                        <td>
                            {{cantidad_Cilindros}}
                        </td>
                        <td>
                            <p>
                                Unidades
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Cantidad de Expanciones
                            </p>
                        </th>
                        <td>
                            {{numero_Expanciones}}
                        </td>
                        <td>
                            <p>
                                Unidades
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="row-md-5">
                            <p>
                                Velocidad del Ascensor
                            </p>
                        </th>
                        <td>
                            {{velocidad_Cabina}}
                        </td>
                        <td>
                            <p>
                                Metros/Segundos
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Diametro del Cable
                            </p>
                        </th>
                        <td>
                            {{diametro_Cable}}
                        </td>
                        <td>
                            <p>
                                Milimetros
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="row-md-5">
                            <p>
                                Peso del Ascensor
                            </p>
                        </th>
                        <td>
                            {{peso_Ascensor}}
                        </td>
                        <td>
                            <p>
                                Kilogramos
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Diametro del Piston
                            </p>
                        </th>
                        <td>
                            {{diametro_Piston}}
                        </td>
                        <td>
                            <p>
                                Centimetros
                            </p>
                        </td>
                        <th>

                        </th>
                    </tr>
                    <tr>
                        <th>
                            <p>
                                Masa Embolo
                            </p>
                        </th>
                        <td>
                            {{masa_Embolo}}
                        </td>
                        <td>
                            Kilogramos
                        </td>
                        <th>

                        </th>
                    </tr>
                </table>
            </div>

    </form>
    </div>

    <div class="jumbotron">
        <form method="post">
            {% csrf_token %}


            <div class="col-sm-12">
                <legend>
                    Simulacion Nueva (Resultados)
                </legend>
                <table class="table table-hover row-md-3">
                    <tr class="table-danger">
                        <th scope="row">
                            Datos
                        </th>
                        <td>
                            Valor Entrada
                        </td>
                        <td>
                            Unidades
                        </td>

                    </tr>
                    <tr>
                        <td>
                            Coeficiente Seguridad
                        </td>
                        <th>
                            {{coeficiente_Seg}}
                        </th>
                        <th>
                            ----------
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Velocidad de Cabina
                        </td>
                        <th>
                            {{velocidad_P}}
                        </th>
                        </td>
                        <th>
                            Metros/Segundos
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Presion del Piston
                        </td>
                        <th>
                            {{presion_Embolo}}
                        </th>
                        <th>
                            Pascales
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Carga del Piston
                        </td>
                        <th>
                            {{carga_Piston}}
                        </th>
                        <th>
                            Newton
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Carga Maxima
                        </td>
                        <th>
                            {{carga_Maxima}}
                        </th>
                        <th>
                            Newton
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Aceite en circulacion
                        </td>
                        <th>
                            {{aceite_Circulacion}}
                        </th>
                        <th>
                            Litros
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Caudal de bomba
                        </td>
                        <th>
                            {{caudal_Bomba}}
                        </th>
                        <th>
                            Metros Cubicos/Segundo
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Diametro Polea
                        </td>
                        <th>
                            {{diametro_Polea}}
                        </th>
                        <th>
                            Milimetros
                        </th>
                    </tr>
                    <tr>
                        <td>
                            Peso de Polea
                        </td>
                        <th>
                            {{peso_Polea}}
                        </th>
                        <th>
                            Kilogramos
                        </th>
                    </tr>
                </table>
            </div>

        </form>
    </div>
</div>





<!--Script que tiene la funcion para obetener lo valores de la modificacion"-->
<script src="{% static 'js/funcionModificacion.js' %}" type="text/javascript">
</script> {%endblock%}