
<html>
<head>
    <title> KRVS Hydraulics </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
    <body>
    <div class="login-box">
    <img src="avatar.png" class="avatar">
        <h1>Iniciar sesion</h1>
            <form>
            <p>Usuario</p>
            <input type="text" name="usuario" placeholder="Introduzca el nombre de usuario">
            <p>Password</p>
            <input type="password" name="password" placeholder="Introduzca el password">
            <input type="submit" name="submit" value="Login">
            <a href="#">Olvido el password</a>
            </form>


        </div>

    </body>
</html>
